<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <!-- spring bean -->
    <bean id="javaBook" class="io.study.dubbo.spi.ioc.spring.JavaBook"/>
    <bean id="goBook" class="io.study.dubbo.spi.ioc.spring.GoBook"/>
</beans>